.header-container {
  height: 60px;
  width: 100%;
  border-radius: 50;
  background-color: rgb(250, 250, 250);
  margin: 50;
  padding: 0.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
}


.label {
  padding: 5;
  color: black;
  font-weight: bold;
}

.left{
  justify-self: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  font-weight: bold;
  font-size: 1.1em;
}

.flag{
  width: 4vw;
  height: 2vw;
  background: rgb(255, 255, 255);
  border-left: 1vw solid rgb(1, 105, 1);
  border-right: 1vw solid rgb(1, 105, 1);
}

.right{
  display: flex;
  justify-self: right;
  justify-content: space-evenly;
  font-size: 0.8em;
}


.streak {
  color: rgb(255, 115, 0);
  margin-bottom: 1em;
  width: 4.7rem;
  height: 2.4rem;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: 600;
}

.streak svg{
  width: 23px;
  height: 23px;
}

.streak:hover{
  background-color: rgb(224, 224, 224);
  border-radius: 7px;
}

.progress{
  margin: auto 0;
  width: 4.7rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress:hover{
  background-color: rgb(224, 224, 224);
  border-radius: 7px;
}

.help{
  width: 5rem;
  height: 2.4rem;
  border-radius: 7px;
  margin: auto 0;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help:hover{
  background-color: rgb(224, 224, 224);
}

.help-link{
  color: rgb(1, 105, 1);
  text-decoration: none;
  font-weight: 800;
}

.help-link svg path{
  stroke: rgb(1, 105, 1);
}

.help-link svg {
  padding-top: 4px;
  width: 18px;
  height: 18px;
}


.yoruba-header{
  color: rgb(98, 98, 98);
  font-size: 1.2em;
  position: relative;
  left: 90px;
}
