.lesson{
    display: flex;
    justify-content: space-evenly;
    width: 17vw;
    flex: 1 0 auto;
    padding: 0 0.3vw;
    align-items: center;
    background-color: rgb(239, 229, 229);
    height: 13rem;
    margin: 0.2rem;
    border-radius: 30px;
    overflow-x: hidden;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    scrollbar-width: none;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-snap-align: end;
}

.lesson-about{
    text-align: left;
}

.lesson-img{
    outline: 4px solid rgb(46, 209, 13);
    border: 1px solid;
    border-radius: 100%;
    width: 8em;
    height: 8em;
    margin-right: 5px;
}


.lesson:not(.active) .lesson-img{
    display: none;
}

.active{
    width: 37vw;
    flex: 1 0 auto;
    box-shadow: 3px 3px 3px gray;
}

.lesson:not(.active):not(:last-child):hover{
    background-color: rgb(104, 205, 223);
}

.active h2{
    color:  white;
    margin: 0;
    font-size: 1.8em;
}

.active h3{
    overflow: hidden;
    white-space: wrap;
    margin: 0.3em 0;
    color: white;
    font-size: 0.9em;
    font-weight: 400;
}


.play-button{
    background-color: rgba(18, 117, 79, 0.989);
    border: none;
    color: white;
    border-radius: 15px;
    padding: 0.5em 1em;
    font-weight: bold;
}

.play-button:hover{
    background-color: green;
}


.lesson:not(.active) .play-button, .lesson:not(.active) svg, .lesson:not(.active) h3{
    visibility: hidden;
}

.lesson:not(.active) h2{
    text-align: center;
    color: white;
}

.lesson:nth-child(3n+1){
    background-color: #00a779;
}
.lesson:nth-child(2n){
    background-color: #ff5c53;
}

.lesson:nth-child(3n){
    background-color: #01a6c4;
}