.lesson{
    width: 17vw;
    flex: 1 0 auto;
    padding: 0 1vw;
    align-items: center;
    background-color: rgb(239, 229, 229);
    height: 14.3rem;
    margin: 0.2rem;
    border-radius: 30px;
    overflow-x: hidden;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    scrollbar-width: none;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-snap-align: end;
}

.lesson-about{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    height: 100%;
    padding-top: 5%;
}

.active .lesson-about{
    width: 45%;
}

.lesson-img{
    border: 1px solid;
    border-radius: 20px;
    width: 13em;
    height: 11em;
    margin-left: 7px;
    margin-right: 4px;
}

.complete .lesson-img{
    outline: 4px solid rgb(46, 209, 13);
    outline-offset: 3px;
}


.lesson:not(.active) .lesson-img{
    display: none;
}

.active{
    width: 37vw;
    flex: 1 0 auto;
    box-shadow: 3px 3px 3px gray;
    background-color: #00a779;
    display: flex;
    justify-content: space-between;
    padding-right: 3vw;
}

.lesson:not(.active):not(:last-child):hover{
    background-color: rgb(104, 205, 223);
}

.lesson:not(.active){
    background-color: #01a6c4; /*#01a6c4*/
    text-align: center;
    display: block;
}

.active h2{
    color:  white;
    margin: 0;
    font-size: 1.8em;
}

.active h3{
    overflow: hidden;
    white-space: wrap;
    margin: 0.3em 0;
    color: white;
    font-size: 0.9em;
    font-weight: 400;
}


.play-button{
    background-color: rgba(18, 117, 79, 0.989);
    border: none;
    color: white;
    border-radius: 15px;
    padding: 0.5em 1em;
    margin-top: 2em;
    width: 9.4em;
    height: 2.5em;
    font-weight: bold;
}

.play-button:hover{
    background-color: green;
}


.lesson:not(.active) .play-button, .lesson:not(.active) svg, .lesson:not(.active) h3{
    visibility: hidden;
    display: none;
}

.lesson:not(.active) h2{
    text-align: center;
    color: white;
}

/*.lesson:nth-child(3n+1){
    background-color: #00a779;
}
.lesson:nth-child(2n){
    background-color: #ff5c53;
}*/