.review-h1{
    color: rgb(116, 179, 206);
}

.review-table{
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border-radius: 10px;
    margin: 0 auto;
    background-color: rgb(98, 191, 139);
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
}

.word-list{
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.review-left{
    display: flex;
}

.users-table-cell {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.top-review{
    display: flex;
    width: 80%;
    margin: 10px auto;
    justify-content: space-between;
}

.play-review{
    height: 100%;
    margin-left: 10px;
}

.play-review button{
    width: 5em;
    height: 2em;
    border-radius: 30px;
    border: 1px solid rgb(220, 220, 220);
}

.play-review button:hover{
    background-color: aliceblue;
}

.review-search{
    height: 36px;
    width: 34%;
    border-radius: 3px;
    border: solid 1px rgb(114, 114, 114);
}

thead{
    font-size: 1.2em;
    color: rgb(234, 234, 234);
}

tbody{
    font-weight: 400;
    font-size: 1.2em;
}
