.review-table{
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 40px;
}

.users-table-cell {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.top-review{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}