.review-h1{
    color: rgb(116, 179, 206);
}

.review-table{
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}

.word-list{
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.review-left{
    display: flex;
}

.users-table-cell {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.top-review{
    display: flex;
    width: 80%;
    margin: 10px auto;
    justify-content: space-between;
}

.play-review{
    height: 100%;
    margin-left: 10px;
}

.play-review button{
    width: 5em;
    height: 2em;
    border-radius: 30px;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(6, 195, 91);
}

.play-review button:hover{
    background-color: aliceblue;
}

.review-search{
    height: 36px;
    width: 34%;
    border-radius: 3px;
    border: solid 1px rgb(114, 114, 114);
}

thead{
    font-size: 1.2em;
    color: rgb(86, 86, 86);
}

tbody{
    font-weight: 400;
    font-size: 1.2em;
}

tbody tr:nth-child(even){
    background-color: rgb(180, 237, 192);
}

tbody tr:nth-child(odd){
    background-color: rgb(255, 255, 251);
}


td, th{
    padding-left: 1vw;
}

.dot {
    height: 7px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
    width: 7px;
    background-color: #bbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
} 

.level{
    font-weight: 500;
}

.level1{
    border-radius: 8px;
    color: rgb(192, 243, 24);
}

.level1 .dot{
    background-color: rgb(192, 243, 24);
}

.level2{
    border-radius: 8px;
    color: rgb(216, 175, 10);
}

.level2 .dot{
    background-color: rgb(216, 175, 10);
}

.level3{
    border-radius: 8px;
    color: rgb(196, 7, 7);
}

.level3 .dot{
    background-color: rgb(196, 7, 7);
}

