.match-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    margin-top: 4em;
}

.match-prompt{
    font-size: 1.7em;
    margin-top: 1.5em;
}

.match-options{
    width: 16em;
    height: 4em;
    background-color: rgb(250, 254, 255);
    border: 0.01px solid rgb(136, 136, 136);
    border-radius: 5px;
}

.match-phrases {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.match-answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#Disabled0{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid;
    border-color: green;
}

#Disabled1{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid;
    border-color: green;
}

#Disabled3{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid;
    border-color: green;
}

#Wrong0{
    border-color: red;
}

#Wrong1{
    border-color: red;
}

#Wrong2{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: red;
}

.cssSelecteda{
    border-color: blue;
}

.cssSelectedp{
    border-color: blue;
}



