.multi-choice{
    width: 9em;
    height: 2.5em;
    border-radius: 12px;
    font-size: 1.2em;
    border: 1px solid rgb(105, 105, 167);
    background-color: rgb(250, 250, 250);
}

.multi-choice:hover{
    background-color: rgb(240, 255, 252);
}

.multi-choice-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 calc(100% - 50px);
    margin: 0 auto;
}

.two-choice{
    gap: 10px;
}

.two-choice .multi-choice{
    padding: 1em;
    width: 14em;
    height: 4em;
    font-size: bold;
}

.three-choice{
    flex-direction: column;
    margin-top: 3em;
    gap: 10px;
}

.three-choice .multi-choice{
    width: 18em;
    height: 3em;
}

.four-choice{
    display: grid;
    width: 30vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.four-choice .multi-choice{
    width: 10em;
    height: 3.4em;
}

.mcq-question{
    margin: 0 auto;
    font-size: 1.7em;
    margin-top: 1.5em;
    margin-bottom: 1.4em;
    width: 21em;
}

.inText.english{
    color: rgb(54, 157, 212);
}

.multiple-choice-slide .inText.english{
    position: relative;
    font-size: 1.1em;
    text-decoration: underline dotted 0.4px;
}

.question-answered{
    filter: opacity(0.8);
    pointer-events: none;
}

.correct-mcq{
    border: 2px solid green;
}
