.true-false{
    padding: 2em;
}

.true, .false{
    margin: 0em 0.7vw;
    width: 12vw;
    height: 5.4vw;
    border-radius: 20px;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    outline: solid 1px rgb(0, 191, 255);
    background-color: rgb(251, 255, 255);
}

.true:hover, .false:hover{
    background-color: rgb(95, 215, 255);
}

.question h1{
    margin-bottom: 13vh;
    margin-top: 15vh;
    font-size: 1.4em;
}

.question h1 .yoruba{
    text-decoration: solid underline green;
    color: green;
}
